body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .styleApp {
  background-color:aliceblue;
  background-image:100%;;
} */
.style1 {
  background-color:rgb(206, 245, 206);
  padding: 20px;
  padding-left: 30px;
  margin-top: 25px;
  margin: 0px auto;
  max-width: 75%;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(90, 90, 90);
  margin-bottom: 10px;
 
}
.style2 {
  background-color:rgb(203, 207, 221);
  padding: 20px;
  padding-left: 30px;
  /* margin-top: 25px; */
  margin: 0px auto;
  max-width: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(90, 90, 90);
 
}
.style3 {
  background-color:rgb(220, 213, 221);
  padding: 20px;
  padding-left: 30px;
  padding-bottom: 60px;
  /* margin-top: 25px; */
  margin: 0px auto;
  max-width: 75%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(90, 90, 90);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

  

